.container {
    min-height: 100vh;
    height: 100vh;
    background-color: #e6e6e6;
  }
  .body{
      display:flex;
      width:100%;
      height:450px;
  }
  .left{
    width:70%;
    height:100%;
  }
  .right{
    width:30%;
    height:100%;
    background-color:brown;
  }
  .doisCards{
      width:100%;
      height:40%;
      display: flex;
      justify-content:space-around;
  }
  .cardGrande{
    display: flex;
    width:100%;
    height:60%;
    justify-content: center;
  }
  .card{
      width:320px;
      height:150px;
      box-shadow: 5px 5px 15px #999999;
  }
  .cardContent{
      background-color: #f2f2f2;
      height:100%;
      width:100%;
      align-content: space-around;
  }
  .cardG{
    width:666px;
    height:260px;
    box-shadow: 5px 5px 15px #999999;
   }
   .iconG{
    display:inline-flex;
    justify-content: flex-start;
    margin-bottom:10px;
    }
    .cardContentG{
        background-color: #f2f2f2;
        height:100%;
        width:100%;
        align-content: space-around;
    }
  .icon{
      display:flex;
      justify-content: flex-end;
      margin-bottom:10px;
  }
  .progress{
      margin-top:25px;
  }
  .progress2{
    margin-top:10px;
  }
  .btn{
      margin-top:5px;
      border-radius: 10px;
  }
  .titulo{
      margin-left:10px;
  }