.main{
    display:flex;
    padding-top:10px;
}
.Left{
    display:flex;
    flex-direction: column;
    width:50%;
    height:100%;
    justify-content: center;
    vertical-align: auto;
    color: #002400;
    font-weight: bolder;
    padding: 0;
    margin: auto;
    line-height: 1;
}
.Right{
    width:50%;
    height:100%;
    padding-left:40px;
}
.FirstRow{
    font-family: 'montserrat',Sans-serif;
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 82px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.SecondRow{
    font-family: 'montserrat',Sans-serif;
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 70px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    line-height: 1.3;
}
.ThirdRow{
    font-family: 'montserrat',Sans-serif;
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 19px;
    color:#72b01d;
    font-weight: 900;
    padding: 0;
    margin: 0;
    line-height: 2;
}